.color-conversions-container .color-conversion-table {
  display: grid;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 768px) {
    .color-conversions-container .color-conversion-table {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.5rem; } }

.color-conversions-container .color-conversion {
  cursor: pointer;
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .color-conversions-container .color-conversion {
      padding: 1rem 1.8rem;
      border: none; }
      .color-conversions-container .color-conversion.odd {
        background-color: var(--color-conversion-background-color); } }
  .color-conversions-container .color-conversion span {
    font-size: 1.7rem; }
  .color-conversions-container .color-conversion .label {
    font-weight: 600; }
  .color-conversions-container .color-conversion .color-value-container {
    display: flex;
    align-items: center; }
    .color-conversions-container .color-conversion .color-value-container .iconify {
      transition: opacity 0.2s ease-in;
      opacity: 0;
      font-size: 1.8rem;
      margin-right: 1rem; }
  .color-conversions-container .color-conversion:hover .iconify {
    opacity: 0.8; }
  .color-conversions-container .color-conversion .label,
  .color-conversions-container .color-conversion .color-value-container,
  .color-conversions-container .color-conversion .iconify,
  .color-conversions-container .color-conversion .color-value {
    pointer-events: none; }

.color-picker-input-container {
  height: 5.5rem;
  border-radius: 0rem;
  background-color: var(--background-color-03);
  border: 2px solid transparent;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
  transition-property: border-color; }
  .color-picker-input-container .color-picker-button {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important; }
  .color-picker-input-container .color-code-prefix {
    font-family: var(--font-family);
    color: var(--body-color);
    font-size: 2rem;
    margin-right: 0.6rem; }
  .color-picker-input-container input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 2rem; }
    .color-picker-input-container input:hover {
      background-color: transparent; }
  .color-picker-input-container .actions {
    display: flex;
    margin-right: .8rem; }

.color-variations-container p {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem; }

.color-variations-container .color-variations {
  cursor: pointer;
  display: flex;
  height: 8rem;
  overflow: hidden;
  margin-bottom: 4rem; }
  .color-variations-container .color-variations:last-child {
    margin-bottom: 0; }
  .color-variations-container .color-variations .color-variation {
    transition: flex-basis 0.15s ease-in-out;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
  .color-variations-container .color-variations .copy-button,
  .color-variations-container .color-variations .add-button {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0.3rem;
    font-size: 1.6rem; }
    .color-variations-container .color-variations .copy-button .iconify,
    .color-variations-container .color-variations .add-button .iconify {
      color: white;
      pointer-events: none; }
  .color-variations-container .color-variations .add-button {
    right: 0.4rem; }
  .color-variations-container .color-variations .copy-button {
    right: 2.4rem; }
  .color-variations-container .color-variations .color-variation-value {
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;
    font-size: 1.5rem;
    font-weight: 500;
    display: none;
    overflow: hidden;
    font-family: 'Inter' sans-serif; }
  .color-variations-container .color-variations .color-variation:hover {
    flex-basis: 6rem; }
    .color-variations-container .color-variations .color-variation:hover .color-variation-value {
      display: initial; }
    .color-variations-container .color-variations .color-variation:hover .add-button,
    .color-variations-container .color-variations .color-variation:hover .copy-button {
      opacity: 0.7; }
      .color-variations-container .color-variations .color-variation:hover .add-button:hover,
      .color-variations-container .color-variations .color-variation:hover .copy-button:hover {
        opacity: 1; }

.palette-container h2 {
  display: flex; }
  .palette-container h2 .generate-button {
    margin-left: 1rem; }

.palette-container a {
  opacity: 0; }

.palette-container .empty-palette {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  padding: 3rem 2rem;
  border-radius: 3px; }
  .palette-container .empty-palette p:last-child {
    margin-bottom: 0; }
  .palette-container .empty-palette .large-text {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.7rem; }
  .palette-container .empty-palette .iconify {
    font-weight: bold; }

.palette-container .palette {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 0.6rem;
  grid-column-gap: 0.6rem; }

.palette-container .palette-color {
  overflow: hidden;
  position: relative;
  cursor: move;
  transition: flex 0.2s ease-in-out;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .palette-container .palette-color.ondrag {
    opacity: 0.3; }
    .palette-container .palette-color.ondrag .palette-color-value,
    .palette-container .palette-color.ondrag .remove-button,
    .palette-container .palette-color.ondrag .copy-button {
      opacity: 0 !important; }

.palette-container .palette-color-value {
  transition: opacity 0.15s ease-in-out;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0;
  overflow: hidden;
  font-family: 'Inter' sans-serif;
  pointer-events: none; }

.palette-container .remove-button,
.palette-container .copy-button {
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  position: absolute;
  top: 0.3rem;
  font-size: 1.6rem;
  opacity: 0; }
  .palette-container .remove-button .iconify,
  .palette-container .copy-button .iconify {
    pointer-events: none;
    color: white; }

.palette-container .copy-button {
  right: 2.4rem; }

.palette-container .remove-button {
  right: 0.4rem; }

.palette-container .palette-color:hover .palette-color-value {
  opacity: 1; }

.palette-container .palette-color:hover .remove-button,
.palette-container .palette-color:hover .copy-button {
  opacity: 0.7; }
  .palette-container .palette-color:hover .remove-button:hover,
  .palette-container .palette-color:hover .copy-button:hover {
    opacity: 1; }

.selected-color-container {
  cursor: zoom-in;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  overflow: hidden; }
  .selected-color-container.zoomed {
    border-radius: 0;
    cursor: zoom-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000000; }
    .selected-color-container.zoomed .selected-color-value,
    .selected-color-container.zoomed .selected-color-name {
      display: none; }
    .selected-color-container.zoomed .close-button {
      display: block;
      position: fixed;
      top: 3rem;
      right: 3rem;
      border-radius: 100rem;
      background-color: var(--background-color-01);
      border: 1px solid var(--border-color); }
      .selected-color-container.zoomed .close-button .iconify {
        font-size: 3rem; }
    .selected-color-container.zoomed .copy-button,
    .selected-color-container.zoomed .add-to-palette-button,
    .selected-color-container.zoomed .generate-color-button {
      display: none; }
  .selected-color-container .close-button {
    display: none; }
  .selected-color-container .selected-color-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .selected-color-container .selected-color-value {
    opacity: 0.6;
    font-family: 'Inter' sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: -0.5rem; }
  .selected-color-container .selected-color-name {
    color: white;
    font-weight: bold;
    font-size: 4rem; }
  .selected-color-container .hsv-color-picker-container {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem; }
  .selected-color-container .copy-button,
  .selected-color-container .add-to-palette-button,
  .selected-color-container .generate-color-button {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    font-size: 3.5rem; }
    .selected-color-container .copy-button .iconify,
    .selected-color-container .add-to-palette-button .iconify,
    .selected-color-container .generate-color-button .iconify {
      color: white; }
  .selected-color-container .add-to-palette-button {
    right: 6rem; }
  .selected-color-container .copy-button {
    right: 10rem; }
  .selected-color-container .generate-color-button,
  .selected-color-container .add-to-palette-button,
  .selected-color-container .copy-button {
    transition: opacity 0.2s ease-in;
    opacity: 0.7; }
    .selected-color-container .generate-color-button:hover,
    .selected-color-container .add-to-palette-button:hover,
    .selected-color-container .copy-button:hover {
      opacity: 1; }
