.training-title {
  margin: 2rem 8rem 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color); }

.training-container2 {
  position: relative; }
  .training-container2 .arrow-left,
  .training-container2 .arrow-right {
    z-index: var(--text-to-type-training-arrow-z-index);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--arrow-background-color);
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-radius: 100rem;
    box-shadow: var(--box-shadow-01); }
  .training-container2 .arrow-left {
    left: 1.2rem; }
  .training-container2 .arrow-right {
    right: 1.2rem; }
  .training-container2 .arrow-left,
  .training-container2 .arrow-right {
    font-size: 2.8rem; }

.training-container1 {
  margin-top: 2rem;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .training-container1::-webkit-scrollbar {
    display: none; }

.training-lesson-container {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 0.3rem;
  width: 8rem;
  height: 5rem;
  background-color: var(--training-keys-background-color);
  border: 2px solid transparent;
  margin-right: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .training-lesson-container.selected::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 5px;
    border-radius: 0.3rem;
    background-color: var(--secondary-color); }
  .training-lesson-container .wpm {
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--typed-key-avg-wpm-color); }
  .training-lesson-container .lesson-label {
    font-weight: 500;
    font-size: 2rem; }

@media screen and (max-width: 1200px) {
  .training-title {
    margin: 2rem 0 0.4rem; } }

.training-lesson-level-container {
  flex-shrink: 0;
  border-radius: 0.3rem;
  width: 3rem;
  height: 8rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  background-color: #ffefef;
  background-color: #078ded17; }
  .training-lesson-level-container span {
    padding: 0.5rem 1rem;
    font-size: 1.35rem;
    font-weight: bold;
    white-space: nowrap;
    transform: rotate(-90deg); }

.text-to-add-textarea-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 1rem; }
  .text-to-add-textarea-header .label {
    font-weight: bold;
    color: var(--text-to-add-textarea-label-color); }

.add-custom-text-to-type-buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .add-custom-text-to-type-buttons > * {
    margin-left: 1.2rem; }

.added-custom-texts-table {
  overflow: auto;
  margin-top: 3.5rem; }

.add-custom-text-to-type-side-panel {
  --side-panel-width: 55rem !important; }

@media only screen and (max-width: 60rem) {
  .add-custom-text-to-type-side-panel {
    --side-panel-width: 80% !important; } }

.expanded-tool.text-to-type-tool-container {
  max-height: initial; }
  .expanded-tool.text-to-type-tool-container .view-typing-progress-link {
    display: none; }

.text-to-type-tool-container {
  position: relative;
  display: flex;
  flex-direction: column; }

.separator {
  height: 4rem;
  flex-shrink: 0; }

.view-typing-progress-link {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  float: right;
  color: var(--secondary-color);
  margin-top: 0.3rem;
  align-self: flex-end;
  border: 2px solid transparent;
  border-radius: 0.3rem; }
  .view-typing-progress-link:focus {
    color: var(--primary-color); }

.toggle-typing-button-container {
  position: relative; }

.toggle-typing-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: var(--toggle-typing-button-z-index);
  background-color: transparent;
  color: var(--body-color);
  font-size: 1.35rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  border: 2px solid transparent;
  box-shadow: var(--box-shadow-02);
  background-color: var(--background-color-05); }

.text-to-type-container {
  position: relative;
  overflow-y: auto;
  max-height: 25rem; }
  .text-to-type-container::-webkit-scrollbar {
    background-color: var(--text-to-type-background-color); }
  .text-to-type-container input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    color: transparent !important; }
  .text-to-type-container .text-to-type {
    position: relative;
    padding: 2rem;
    background-color: var(--text-to-type-background-color);
    border-radius: 0.3rem;
    white-space: pre-wrap;
    line-height: 1.8; }
    .text-to-type-container .text-to-type.blink span.cursor {
      color: var(--current-char-to-type-color);
      background-color: var(--current-char-to-type-background-color); }
    .text-to-type-container .text-to-type.disabled {
      cursor: pointer; }
      .text-to-type-container .text-to-type.disabled span {
        opacity: 0.5; }
      .text-to-type-container .text-to-type.disabled span.cursor {
        color: var(--body-color);
        background-color: var(--body-background-color); }
    .text-to-type-container .text-to-type span {
      font-family: 'Roboto Mono';
      font-size: inherit; }
  .text-to-type-container span.whitespace {
    color: var(--whitespace-color); }
  .text-to-type-container span.dot.NOK {
    opacity: 0.7; }
  .text-to-type-container span.NOK {
    color: var(--nok-typed-char-color);
    border-bottom: 3px solid var(--nok-typed-char-color); }
  .text-to-type-container span.OK {
    opacity: 0.5; }

.text-to-type-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.text-to-type-reference {
  font-size: 1.6rem;
  color: var(--text-to-type-reference-color);
  font-weight: bold;
  padding: 0.75rem 2rem;
  background-color: var(--text-to-type-background-color);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem; }
  .text-to-type-reference:hover a {
    text-decoration: none; }

.view-typing-progress-button-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.scroll-visual-helper-container {
  position: relative; }

.scroll-visual-helper {
  position: absolute;
  width: 100%;
  height: 4rem; }

.scroll-to-top-visual-helper {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); }

.scroll-to-bottom-visual-helper {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); }

.app-settings {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem; }
  .app-settings .app-setting {
    padding-bottom: 2.5rem; }
    .app-settings .app-setting span {
      color: var(--body-color); }
    .app-settings .app-setting .app-setting-label {
      font-size: 1.4rem; }
    .app-settings .app-setting .app-setting-input,
    .app-settings .app-setting .app-setting-select {
      width: 100%; }
  .app-settings .app-settings-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem; }
    .app-settings .app-settings-buttons > * {
      margin-left: 1.2rem; }
  .app-settings .text-to-type-size-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--background-color-03); }
    .app-settings .text-to-type-size-setting .label {
      font-size: 1.4rem;
      font-weight: 500; }

.app-settings-side-panel {
  --side-panel-width: 55rem !important; }

@media only screen and (max-width: 60rem) {
  .app-settings-side-panel {
    --side-panel-width: 80% !important; } }

.turbo-typing-action-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-03);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem; }

.turbo-typing-action-bar-left-container,
.turbo-typing-action-bar-right-container {
  display: flex;
  align-items: center; }

.turbo-typing-action-bar-right-container {
  flex-direction: row-reverse; }

.turbo-typing-action-bar-middle-container {
  display: flex;
  column-gap: 2rem; }
  @media screen and (max-width: 426px) {
    .turbo-typing-action-bar-middle-container {
      display: none; } }

.typed-text-stat-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .typed-text-stat-value-container .typed-text-stat-value {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.7rem; }
  .typed-text-stat-value-container .typed-text-stat-label {
    font-size: 1rem; }

.typed-keys-container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr)); }
  .typed-keys-container .typed-key {
    text-align: center;
    font-size: 1.4rem;
    padding: 0.8rem 0.8rem;
    font-family: 'Roboto Mono';
    font-weight: bold;
    cursor: pointer;
    color: var(--body-color);
    background-color: var(--typed-key-background-color);
    position: relative; }
    .typed-keys-container .typed-key.selected-key {
      color: var(--selected-key-color);
      background-color: var(--selected-key-background-color); }
    .typed-keys-container .typed-key.selected-key::after {
      display: none; }
    .typed-keys-container .typed-key::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px; }
    .typed-keys-container .typed-key.avg-wpm-lt-10::after {
      background-color: var(--typed-key-avg-wpm-lt-10); }
    .typed-keys-container .typed-key.avg-wpm-lt-20::after {
      background-color: var(--typed-key-avg-wpm-lt-20); }
    .typed-keys-container .typed-key.avg-wpm-lt-30::after {
      background-color: var(--typed-key-avg-wpm-lt-30); }
    .typed-keys-container .typed-key.avg-wpm-lt-40::after {
      background-color: var(--typed-key-avg-wpm-lt-40); }
    .typed-keys-container .typed-key.avg-wpm-lt-50::after {
      background-color: var(--typed-key-avg-wpm-lt-50); }
    .typed-keys-container .typed-key.avg-wpm-gte-50::after {
      background-color: var(--typed-key-avg-wpm-gte-50); }
    .typed-keys-container .typed-key.avg-error-eq-0::after {
      background-color: var(--typed-key-avg-error-eq-0); }
    .typed-keys-container .typed-key.avg-error-lt-3::after {
      background-color: var(--typed-key-avg-error-lt-3); }
    .typed-keys-container .typed-key.avg-error-lt-6::after {
      background-color: var(--typed-key-avg-error-lt-6); }
    .typed-keys-container .typed-key.avg-error-lt-10::after {
      background-color: var(--typed-key-avg-error-lt-10); }
    .typed-keys-container .typed-key.avg-error-gte-10::after {
      background-color: var(--typed-key-avg-error-gte-10); }

.typed-text-stats-container {
  margin: 1.5rem auto 0;
  display: flex;
  justify-content: center; }
  .typed-text-stats-container .typed-text-stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--typed-text-stat-container-border-color);
    width: 12rem;
    height: 12rem;
    border-radius: 100rem;
    margin: 1rem 1rem; }
  .typed-text-stats-container .typed-text-stat-value {
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: bold;
    color: var(--typed-text-stat-value-color); }
  .typed-text-stats-container .typed-text-stat-label {
    font-size: 1.5rem; }
  .typed-text-stats-container .check-progress-link .iconify {
    font-size: 6rem;
    transition: var(--transition);
    transition-property: color; }
    .typed-text-stats-container .check-progress-link .iconify:hover {
      color: var(--check-progress-link-icon-color-on-hover); }
  .typed-text-stats-container .change-text-to-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    .typed-text-stats-container .change-text-to-type .iconify-container {
      height: 100%;
      width: 100%;
      transition: var(--transition);
      transition-property: color, background-color;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center; }
      .typed-text-stats-container .change-text-to-type .iconify-container:hover .iconify {
        color: var(--secondary-color); }
    .typed-text-stats-container .change-text-to-type .iconify {
      height: 75%;
      width: 75%;
      transition: var(--transition);
      transition-property: color, background-color; }
    .typed-text-stats-container .change-text-to-type .next {
      border-bottom-right-radius: 100rem;
      border-top-right-radius: 100rem; }
    .typed-text-stats-container .change-text-to-type .previous {
      border-bottom-left-radius: 100rem;
      border-top-left-radius: 100rem; }
    .typed-text-stats-container .change-text-to-type:focus {
      border-color: var(--secondary-color) !important;
      box-shadow: var(--focus-box-shadow-secondary); }

.typed-keys-stats-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2px; }
  .typed-keys-stats-container .typed-key {
    color: black;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto Mono';
    font-weight: bold;
    cursor: default; }
    .typed-keys-stats-container .typed-key.no-data-available-yet {
      color: var(--body-color);
      background-color: var(--typed-key-no-data-available-yet); }
    .typed-keys-stats-container .typed-key.avg-wpm-lt-10 {
      background-color: var(--typed-key-avg-wpm-lt-10); }
    .typed-keys-stats-container .typed-key.avg-wpm-lt-20 {
      background-color: var(--typed-key-avg-wpm-lt-20); }
    .typed-keys-stats-container .typed-key.avg-wpm-lt-30 {
      background-color: var(--typed-key-avg-wpm-lt-30); }
    .typed-keys-stats-container .typed-key.avg-wpm-lt-40 {
      background-color: var(--typed-key-avg-wpm-lt-40); }
    .typed-keys-stats-container .typed-key.avg-wpm-lt-50 {
      background-color: var(--typed-key-avg-wpm-lt-50); }
    .typed-keys-stats-container .typed-key.avg-wpm-gte-50 {
      background-color: var(--typed-key-avg-wpm-gte-50); }

@media screen and (max-width: 1024px) {
  .typed-text-stat-container {
    width: 10rem !important;
    height: 10rem !important;
    margin: 0.5rem; } }

@media screen and (max-width: 426px) {
  .typed-text-stat-container {
    width: 9rem !important;
    height: 9rem !important;
    margin: 0.5rem; } }

@media screen and (max-width: 320px) {
  .typed-text-stat-container {
    width: 8rem !important;
    height: 8rem !important;
    margin: 0.5rem; }
  .typed-text-stat-label {
    font-size: 1.2rem !important; } }

.typing-progress-side-panel {
  --side-panel-width: 70rem !important;
  padding: 2rem 3rem 3rem 3rem !important; }

@media only screen and (max-width: 75rem) {
  .typing-progress-side-panel {
    --side-panel-width: 80% !important; } }

.back-link {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  margin-left: 2rem;
  display: inline-flex;
  align-items: center;
  border-radius: 0.3rem; }
  .back-link:hover {
    text-decoration: none; }
    .back-link:hover .iconify,
    .back-link:hover .text {
      color: var(--primary-color); }
  .back-link .iconify {
    color: var(--primary-color);
    transition: var(--transition);
    transition-property: color;
    font-size: 3rem;
    margin-right: 1.6rem; }
  .back-link .text {
    color: var(--primary-color);
    transition: var(--transition);
    transition-property: color;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--body-color); }

.progress-page-container {
  max-width: 100rem;
  margin: 0 auto; }

.progress-graph:first-child {
  margin-top: 0rem; }

.progress-graph .not-enough-samples {
  padding: 4rem 2rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.3rem;
  text-align: center; }

.progress-graph .chartjs-graph-container {
  height: 40rem;
  position: relative; }
  .progress-graph .chartjs-graph-container.empty:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'No data available yet';
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    color: var(--body-color); }

.progress-graph .progress-header {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem; }

.progress-graph .progress-name {
  font-size: 2rem;
  font-weight: 600; }

.progress-graph .progress-ctrl {
  display: flex;
  align-items: center;
  margin-left: 2rem; }

.progress-graph .progress-by-key {
  margin-left: 2rem; }

.error-progress-graph {
  margin-top: 5rem; }

.typed-keys-progress {
  margin-bottom: 5rem; }

.delete-progress-data-button-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center; }
  .delete-progress-data-button-container button {
    padding: 0.9rem 5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--delete-progress-data-button-color);
    background-color: var(--delete-progress-data-button-background-color);
    border: 1px solid var(--delete-progress-data-button-border-color);
    border-radius: 100rem;
    transition: var(--transition);
    transition-property: color, background-color, border-color, box-shadow; }
    .delete-progress-data-button-container button:hover {
      color: var(--delete-progress-data-button-color-on-hover);
      background-color: var(--delete-progress-data-button-background-color-on-hover);
      box-shadow: var(--delete-progress-data-button-box-shadow); }
    .delete-progress-data-button-container button:focus {
      border-color: initial !important;
      box-shadow: var(--focus-box-shadow-secondary); }

@media screen and (max-width: 426px) {
  .progress-by-key {
    display: none !important; }
  .slider-container {
    width: 10rem !important; } }

.description img {
  border: none; }
